<div class="form-container" id="id_voice_form">
    <h4 class="form_header">Create voice message</h4>
    <form action="/voice-message/" class="message-form" id="voice_message" method="POST">
        {% csrf_token %}
        <label for="sender_name">Your name</label>
        <input type="text" name="sender_name" id="id_sender_name" required>
        <label for="recipient_name">Recipient's name</label>
        <input type="text" name="recipient_name" id="id_recipient_name" required>
        <label for="recipient_email">Recipient's phone: format (+254712345678)</label>
        <input type="number" name="recipient_phone_no" id="id_recipient_phone_no" required>
        <label for="recipient_lang">Recipient's language</label>
        <select name="language" required>
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="es">Spanish</option>
        </select>
        <label for="message">Your special message</label>
        <textarea name="message" id="id_message" cols="58" rows="4" maxlength="160"></textarea>
        <button type="submit" class="send_btn">Place call</button>
    </form>
</div>